global !p
from snippet_helpers import *
endglobal

# qnd {{{1

snippet qnd "Quick aNd Dirty settings" bm
QnD
${0:${VISUAL}}
QnD_END
endsnippet

# tb {{{1

pre_expand "create_table(snip)"
snippet "tb\d+x\d+" "Customizable table" br
endsnippet

