[Desktop Entry]
Version=1.0
Type=Application
Name=gVim
GenericName=Text Editor
Comment=Edit text files
Icon=gvim
TryExec=gvim
# We use a script to handle the case where gVim is started without any file argument.{{{
#
# If we double-click on  a file in thunar, we want gVim to  be started with this
# command:
#
#     gvim -f --servername GVIM --remote-tab-silent %F
#
# But, if we just  click on the gVim icon in the whisker  menu, or just run gVim
# from rofi, the previous command won't work:
#
#     $ gvim -f --servername GVIM --remote-tab-silent
#     ...~
#     Argument missing after: "--remote-tab-silent"~
#     ...~
#
# In this case, we need gVim to be started with just the `gvim` command.
# I don't know how to test whether `%F`  is expanded into an empty string, so we
# delegate this task to a shell script.
#}}}
Exec=sh -c "\\$HOME/bin/gvim-menu %F"
NoDisplay=false
Categories=TextEditor;Utility;
Keywords=Text;editor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
StartupNotify=true
Terminal=false
