# What's the influence of the argument `-f` for gVim? {{{
#
# It's used in the default `/usr/local/share/applications/gvim.desktop`.
# Here's what the helps says about it (`:h -f`):
#
# > "-f" should be used when gvim is started by a program that will wait for the
# > edit session to finish (e.g., mail or readnews).
# }}}
# Why `--remote-tab-silent`?{{{
#
# `tab` will make gVim use one tabpage per file.
#
# `remote` will make gVim try to open the file(s) in a running server if there's
# one.
#
# `silent` will prevent gVim from complaining if no server is running:
# > E247: no registered server named "GVIM"
# A local gVim process will be started.
#}}}
[Desktop Entry]
Version=1.0
Type=Application
Name=MygVim
Icon=
Exec=gvim -f --remote-silent-tab %F
NoDisplay=
Categories=
StartupNotify=false
Terminal=false
